.page{
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  background-image: url(../../images/page/bg/mainPageBg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  z-index: -2;
}

.page::before{
  z-index: -2;
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0, .5);
}
